#butt1:hover {
    -fx-background-color: red;          // hover
}

#butt2:hover {
    -fx-background-color: blue;
}

#butt1, #butt2 {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-font-size: 35px;
    -fx-background-radius: 15px;        // rounded corners
    -fx-font-family: "Courier New";
}

#11, #111 {                              // same css for multiple ids
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: cursive;
    -fx-padding: 25 0 0 8;            // top right bottom left
}

.separator:horizontal *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0; /* its make really one-pixel-border */
    -fx-border-color: #654321;
}

.separator:vertical *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 2 0 0; /* its make really one-pixel-border */
    -fx-border-color: #654321;
}

#tools {
    -fx-background-color: #7E552B;
}

#drawForm {
    -fx-background: rgb(245,245,220);
}

.scroll-bar .thumb {
    -fx-background-color: red;
}

.scroll-bar {
    -fx-background-color: black;
}
